@import "tailwindcss";

/* ======== VARIABLES GLOBALES ======== */
:root {
  --color-background: #000000;
  --color-foreground: #ffffff;
}

/* ======== ESTILOS GLOBALES ======== */
html,
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  height: 100%;
  margin: 0;
}

/* ======== ESTILOS PARA VIEWER PDF (OBLIGATORIO) ======== */
/* Estos imports NO pueden estar dentro de un Client Component
   porque rompen la compilación en Next.js/Vercel */
@import "@react-pdf-viewer/core/lib/styles/index.css";
@import "@react-pdf-viewer/default-layout/lib/styles/index.css";
